.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.checkbox {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

.deleteBtn {
  background: transparent;
  border: none;
  color: red;
  cursor: pointer;
}
