.container {
  flex-grow: 1;
}
.list {
  list-style: none;
  padding: 0 20px;
  margin: 0;
}

.todoItem {
  margin-bottom: 8px;
  padding: 8px;
  background-color: #fefefe;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.emptyMessage {
  padding: 40px;
  text-align: center;
  color: var(--secondary-color);
  flex-grow: 1;
}
