.toolbar {
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-top: 1px solid var(--secondary-color);
  margin-top: 20px;
  font-size: 16px;
  background-color: #fefefe;
  z-index: 10;
  padding: 20px;

  @media (max-width: 480px) {
    flex-direction: column;
    gap: 10px;
  }
}

.filters {
  display: flex;
  gap: 5px;

  @media (max-width: 480px) {
    gap: 8px;
  }
}

.button {
  background: none;
  border: 1px solid transparent;
  color: var(--text-color);
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;

  &.active {
    border: 1px solid var(--primary-color);
    border-radius: 4px;
  }

  @media (max-width: 480px) {
    padding: 4px 8px;
    font-size: 0.9rem;
  }
}

.clearButton {
  &:hover {
    color: var(--primary-color);
  }
  &:disabled {
    cursor: auto;
  }
}

.counter{
  min-width: 100px;
}
